<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>We are an online store with the best products at the best price.</p>
      </div>
  
      <div class="footer-section">
        <h4>Contact</h4>
        <ul>
          <li><i class="fas fa-phone"></i> +54 381 6566750</li>
          <li><i class="fas fa-envelope"></i> facundojoagl&#64;gmail.com</li>
          <li><i class="fas fa-map-marker-alt"></i> San Miguel de Tucumán, Argentina</li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Social Media</h4>
        <ul>
          <li><a href="https://github.com/FacundoJoaquinGil" target="_blank"><i class="instagram"></i>Github</a></li>
          <li><a href="https://www.linkedin.com/in/joaqu%C3%ADn-gil/" target="_blank"><i class="twitter"></i>Linkedin</a></li>
          <li><a href="https://www.instagram.com/fac.joaquin/" target="_blank"><i class="facebook"></i>Instagram</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-bottom">© COPYRIGHT My Store 2025 - All Rights Reserved</p>
  </footer>
  
