<div class="container-bp">
    <h3>This is our <strong class="title-bp">best products!</strong></h3>
    @for (product of productList.slice(0,6); track $index;) {
    @if (product.rating.rate > 3){
    <a [routerLink]="['/products', product.id]">
        <div class="product-card">
            <img src="{{product.image}}" class="product-image" alt="{{product.title}}">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="product-price">Price: {{product.price | currency}}</p>
            </div>
        </div>
    </a>
    }
    }
</div>