<div class="container-bp">
    <h3>This is our <strong>best products!</strong></h3>

    <div class="row"> <!-- Agregar un contenedor flex de Bootstrap -->
        @for (product of productList.slice(0,6); track $index;) {
        @if (product.rating.rate > 2){
            <div class="custom-cards col-md-4 mb-3"> <!-- Dividir en 3 columnas por fila -->
                <a [routerLink]="['/products', product.id]">
                    <div class="card product-card">
                        <img src="{{product.image}}" class="card-img-top product-image" alt="{{product.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.title}}</h5>
                            <div class="card-footer">
                                <p class="product-price">Price: {{product.price}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        }
    </div>
</div>
