@if ( loading == true) {
    <div class="loading">
        <h3>Loading...</h3>
        <img src="assets/Loading.gif" alt="loading">
      </div>    
}
@else {
  <div class="product-card">
    <img class="product-image" src="{{product?.image}}" alt="{{product?.title}}">
    <div class="product-details">
        <h2 class="product-title">{{product?.title}}</h2>
        <p class="product-description">{{product?.description}}</p>
        <p class="product-category"><strong>Category: </strong>{{product?.category}}</p>
        <p class="product-price"><strong>Price: </strong>{{product?.price | currency}}</p>
        <p class="product-rating"><strong>Valoration: </strong>{{product?.rating?.rate | starRating}}</p>
        
        <div class="product-info">
            <p><strong>Product Warranty:</strong> 12 Months✅</p>
            <p><strong>Stock Ready</strong> ✅</p>
            <p><strong>Worldwide Shipping</strong> ✅</p>
        </div>

        <div class="buttons">
            <button class="btn btn-success">Add to cart<img class="cart-count" src="assets/carrito.png" alt="Carrito de compras"> </button>
        </div>
    </div>
</div>
}
    

