@if (loading == true) {
  <h1 class="loading">Loading...</h1>
} @else {
  <div class="product-grid">
    @for (product of productList; track $index) {
      <a [routerLink]="['/products', product.id]">
        <div class="card product-card">
          <img src="{{product.image}}" class="card-img-top product-image" alt="{{product.title}}">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <div class="card-footer">
              <p class="product-price">Price: {{product.price | currency}}</p>
              <button class="btn btn-success">
                <img class="cart-count" src="../../../assets/carrito.png" alt="Carrito de compras">
              </button>
            </div>
          </div>
        </div>
      </a>
    }
  </div>
}
