
.custom-navbar .navbar-nav .nav-item {
    margin: 0 30px; 
}

.custom-navbar {
    background-color: #ffffff !important;
    /* Cambia por el color que desees */
}

.custom-navbar .nav-link {
    color: #222 !important;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #4e4c4c !important;
}