<nav class="navbar navbar-expand-md custom-navbar" data-bs-theme="dark">
  <div class="container d-flex flex-column align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link fw-bold"  routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="products" [ngClass]="{active: menuOption == 'products'}" (click)="onOption('products')">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="contact" [ngClass]="{active: menuOption == 'contact'}" (click)="onOption('contact')">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="about-us" [ngClass]="{active: menuOption == 'about-us'}" (click)="onOption('about-us')">ABOUT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
