<div class="benefits-container">
    <div class="benefit-item">
      <div class="icon-placeholder">
        <img src="../../../assets/tarjeta.png" alt="tarjeta">
      </div>
      <h3>Up to 12 Installments</h3>
      <p>Pay with credit cards</p>
    </div>
  
    <div class="benefit-item">
      <div class="icon-placeholder">
        <img src="../../../assets/camion.png" alt="camion">
      </div>
      <h3>Nationwide Shipping</h3>
      <p>Delivered by OCA</p>
    </div>
  
    <div class="benefit-item">
      <div class="icon-placeholder">
        <img src="../../../assets/escudo.png" alt="escudo">
      </div>
      <h3>Official Warranty</h3>
      <p>Up to 12 months on all products</p>
    </div>
  </div>
  
