
.carousel {
  padding: 40px;
  max-width: 1200px;
  height: 500px;
  margin: auto;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-inner img {
  border-radius: 15px; 
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel {
      height: 350px;
  }
}

.carousel-indicators button {
  background-color: #555; /* Color de los indicadores inactivos */
}

.carousel-indicators .active {
  background-color: #ff9800; /* Color del indicador activo */
}